/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 24, 2016, 10:23:46 PM
    Author     : Ionut
*/
#wrapper
	{
		width: 1350px;
		height:auto;
		margin: 0;
	}
	

.application-title
{
    background:#3300cc;
    border: 1px solid black;
    color: black;
    text-align: center;
    margin-top:0px;
    height:70px;
    width:auto;
    margin-bottom:0px;
}
#login-form
{
    background:#A0A0A0;
    border: 1px solid black;
    color: black;
    text-align: right;
    margin-top:0px;
    height:40px;
    width:1350px;
    margin-bottom:1px;
     
}

.subtitle
{
   text-align: center; 
   background:#A0A0A0;
   border: 1px solid black;
   margin-top:0px;
   height:40px;
   width:1350px;
   margin-bottom:0px;
}
#footer
{
    position: fixed;        
    width: 100%;
    bottom: 0px;
    text-align: center;
    background-color: grey;
    color: white;
}